body {
    /* background-color: #24252f; */
    background-color: #33364a;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {

    padding: 1.3em;
    margin: 4.5px 1px;
    border: 0px solid transparent;
    background-color: #3a3d5d;
    border-radius: 5px;
    color: #8288c4;
    font-weight: 800;
    font-size: small;
    height: 50px;
    width: 50px;


    box-shadow: 0px 2px 0px 0px rgba(53, 56, 77, 0.831);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(53, 56, 77, 0.831);
    -moz-box-shadow: 0px 2px 0px 0px rgba(53, 56, 77, 0.831);

}

#calculatorContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    background-color: #24252f;
    padding: 0.8em 1em;
    border-radius: 5px;
}

#equalsKey {
    background-color: #262a4b;
    height: 50px;
    width: 106px;
    box-shadow: 0px 2px 0px 0px rgba(46, 50, 79, 0.831);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(46, 50, 79, 0.831);
    -moz-box-shadow: 0px 2px 0px 0px rgba(46, 50, 79, 0.831);

}

#clearKey {
    height: 50px;
    width: 106px;
}
.operatorKey{
    background-color: #464a6d;
}

#display {
    /* background-color: #656a8c; */
    background-color: #565b7a;
    height: 50px;
    width: 252px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
#display h3{
    margin: 15px 20px;
    text-align: end;
    color: #8288c4;
}